<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>market</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.com.control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regist</servlet-name>
    <servlet-class>cn.com.control.Regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List</display-name>
    <servlet-name>List</servlet-name>
    <servlet-class>cn.com.control.userList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>cn.com.control.userUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mailsList</display-name>
    <servlet-name>mailsList</servlet-name>
    <servlet-class>cn.com.control.mailsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailsList</servlet-name>
    <url-pattern>/mailsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mailsUpdate</display-name>
    <servlet-name>mailsUpdate</servlet-name>
    <servlet-class>cn.com.control.mailsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailsUpdate</servlet-name>
    <url-pattern>/mailsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>cn.com.control.mailsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginout</servlet-name>
    <servlet-class>cn.com.control.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginout</servlet-name>
    <url-pattern>/loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ckeck</display-name>
    <servlet-name>Ckeck</servlet-name>
    <servlet-class>cn.com.control.Ckeck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ckeck</servlet-name>
    <url-pattern>/Ckeck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>cn.com.control.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check1</display-name>
    <servlet-name>Check1</servlet-name>
    <servlet-class>cn.com.control.Check1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check1</servlet-name>
    <url-pattern>/Check1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkpassword</display-name>
    <servlet-name>Checkpassword</servlet-name>
    <servlet-class>cn.com.control.Checkpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkpassword</servlet-name>
    <url-pattern>/Checkpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>cn.com.control.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>cn.com.control.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>no</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.border.color</param-name>
      <param-value>105,179,90</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.obscurificator.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.ShadowGimpy</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>red</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>abcdefghijklmnopqistuvwxyz0123456789</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>70</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.height</param-name>
      <param-value>40</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>20</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.noise.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.NoNoise</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.session.key</param-name>
      <param-value>code</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code</display-name>
    <servlet-name>Code</servlet-name>
    <servlet-class>cn.com.control.Code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload1</display-name>
    <servlet-name>Upload1</servlet-name>
    <servlet-class>cn.com.control.Upload1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload1</servlet-name>
    <url-pattern>/Upload1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Files</display-name>
    <servlet-name>Files</servlet-name>
    <servlet-class>cn.com.control.Files</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Files</servlet-name>
    <url-pattern>/Files</url-pattern>
  </servlet-mapping>
</web-app>